@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?6tbh32');
  src:  url('../fonts/icomoon.eot?6tbh32#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?6tbh32') format('truetype'),
    url('../fonts/icomoon.woff?6tbh32') format('woff'),
    url('../fonts/icomoon.svg?6tbh32#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Asset-2:before {
  content: "\e900";
  color: #000;
}
.icon-Asset-3:before {
  content: "\e901";
  color: #000;
}
.icon-Asset-5:before {
  content: "\e902";
  color: #000;
}
.icon-Asset-6:before {
  content: "\e903";
  color: #000;
}
.icon-Asset-7:before {
  content: "\e904";
  color: #000;
}
.icon-Asset-8:before {
  content: "\e905";
  color: #000;
}
.icon-Asset-9:before {
  content: "\e906";
  color: #000;
}
.icon-Asset-10:before {
  content: "\e907";
  color: #000;
}
.icon-Asset-11:before {
  content: "\e908";
  color: #000;
}
.icon-Asset-12:before {
  content: "\e909";
  color: #000;
}
.icon-Crypto-vault:before {
  content: "\e90a";
  color: #000;
}
.icon-Peer-to-peer-2:before {
  content: "\e90b";
  color: #000;
}
